[Unit]
Description=NexPay User Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/nexpay
EnvironmentFile=-/opt/nexpay/nexpay.env
ExecStart=/usr/bin/java -jar /opt/nexpay/user-service.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
